<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="pl-0">
      <% resource.errors.full_messages_for(attribute).each do |message| %>
        <li class="list-unstyled text-nowrap text-danger font"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
