<%= form_with(model:[vision, comment], local: false) do |f| %>
  <%= f.text_field :comment, placeholder: "コメント", class: "rounded-pill" %>
  <div class="errors">
   <%= render "public/shared/error_messages", resource: @comment, attribute: :comment %>
  </div>
<% end %>