$('.message').append("<p style='display: inline-block; color: white; border-radius: 30px; font-size:min(4.5vw,25px); background-color: #49b66d; word-break: break-all; margin-left: auto; padding: 0 20px;'><%= @chat.message %></p>");
$('input[type=text]').val("")
