<% if @model == 'user' %>
  <div class="container-fluid mx-auto text-center">
    <h3>Users search for "<%= @content %>"</h3>
    <%= render 'public/users/index', users: @records %>
  </div>
<% elsif @model == 'vision' %>
  <div class="container text-center">
	  <h3>Visions search for "<%= @content %>"</h3>
    <%= render 'public/visions/index', visions: @records %>
  <div>
<% end %>
