@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// body{
//   position: relative;
//   min-height: 100vh;
//   width: 100%;
//   overflow: hidden;
// }

// .sidebar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 240px;
//   background: #11101d;
//   padding: 6px 14px;
// }
// // .sidebar active{
// //   width: 240px;
// // }

// .sidebar .logo_content .logo {
//   color: #fff;
//   display: flex;
//   height: 50px;
//   width: 100%;
//   align-items: center;
// }

// .logo_content .logo i{
//   font-size: 28px;
//   margin-right: 5px;
// }

// .logo_content .logo .logo_name {
//   font-size: 20px;
//   font-weight: 400;
// }

// .sidebar #btn {
//   position: absolute;
//   color: #fff;
//   left: 90%;
//   top: 6px;
//   font-size: 20px;
//   height: 50px;
//   width: 50px;
//   text-aline: center;
//   line-height: 50px;
//   transform: translateX(-50%);
// }

// // ul #navlist{
// //   margin-top:: 20px;
// // }

// .sidebar ul li {
//   position: relative;
//   height: 50px;
//   width: 100%;
//   margin: 0 5px;
//   list-style: none;
//   line-height: 50px;
//   border-radius: 12px;
// }

// .sidebar ul li input{
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   border-radius: 12px;
//   outline: none;
//   border: none;
//   background: #1d1b31;
//   padding-left: 50px;
//   font-size: 18px;
//   color: #fff;
// }

// .sidebar ul li a{
//   color: #fff;
//   display: flex;
//   align-items: center;
//   text-decoration: none;
// }

// .sidebar ul li a:hover{
//   color: #11101d;
//   background: #fff;
// }

// .sidebar ul li a i {
//   height: 50px;
//   min-width: 50px;
//   border-radius: 12px;
//   lign-height: 50px;
//   text-align: center;
// }

// .sidebar profile_content{
//   position: absolute;
//   color: #fff;
//   bottom: 0;
//   left: 0;
// }

// .home_content {
//   position: absolute;
//   height: 100%;
//   // width: calc(100%-240px);
//   left: 240px;
// }



.fluid {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  background-position: center;
  position: relative;
}

.top-greeting{
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  font-size: 50px;
//   line-height: 1.0;
//   -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

.top-greeting:first-letter {
  font-size: 75px;
  color: #7172ac;
}

.login-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.new-form {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}

.profile-tag{
  height: 450px;
}

.follow-font{
  font-size: 10px;
}
