<div class="container-fluid mx-auto text-center">
  <% @users.each do |user| %>
    <div class="row col-5 shadow p-2 mb-3 bg-white rounded mx-auto">
			<%= link_to admin_user_path(user), class: "row col-12 text-decoration-none" do %>
				<div class="profile_image col"><%= image_tag user.get_profile_image, size: "100x100", class: "rounded-circle" %></div>
				<div class="col-3 text-left text-dark my-auto"><%= user.name %></div>
        <div class="col-3 text-center text-dark my-auto">Way <%= user.visions.count %></div>
        <div class="col-3 text-center my-auto">
          <% if user.user_status? %>
            <P class="text-danger">退会済み</P>
          <% else %>
            <P class="text-success">活動中</P>
          <% end %>
        </div>
      <% end %>
    </div>
	<% end %>
</div>