<% if vision.finish_status? %>
  <p>
  	Finish Day<br>
　  <%= vision.created_at.strftime('%Y-%m-%d') %>
　</p>
  <p><i class="fas fa-check-circle fa-2x"></i></p>
<% else %>
　<% if (vision.finish_on - Date.today) > 366 %>
　  <p>
    	BY<br>
      <%= vision.finish_on.strftime('%Y-%m') %>
    </p>
  <% elsif  (vision.finish_on - Date.today) > -1 && (vision.finish_on - Date.today) < 365 %>
    <p>
       Time Limit<br>
       <%=(vision.finish_on - Date.today).to_i %> DAYS
    </p>
  <% elsif (vision.finish_on - Date.today) < -1 %>
    <p>
       Passing<br>
       <%= (vision.finish_on - Date.today).to_i * -1 %> DAYS
    </p>
  <% end %>
  <p><i class="fas fa-shoe-prints fa-2x"></i></p>
<% end %>
