
          <!--<th>今日の投稿数</th>-->
          <!--<th>前日の投稿数</th>-->
          <!--<th>前日比</th>-->

          <td><%= vision.tasks.where(completion_status: true).count %></td>
          <td><%= vision.tasks.where(completion_status: false).count %></td>
          <!--<td>-->
            <%# if @yesterday_book.count == 0 %>
              <!--前日の投稿が0のため計算できません-->
            <%# else %>
              <%# @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>
              <%#= (@the_day_before * 100).round %>
            <%# end %>
  <canvas id="myLineChart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).on('turbolinks:load', function() {
      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Red', 'Blue'],
          datasets: [{
            data: [<%= vision.tasks.where(completion_status: true).count %>, <%= vision.tasks.where(completion_status: false).count %>],
            backgroundColor: ['#f88', '#48f'],
            weight: 5,
          }],
        },
        Options: {
          pie: {
          }
        }
      });
    });
  </script>
