<%= render 'form', vision: @vision, url: visions_path, submit: 'New Way', day: Date.today %>
<div class="container-fluid mb-5">
  <div class="col-5 mx-auto">
    <%= link_to "BACK", :back, class: "btn btn-outline-info btn-lg" %>
  </div>
</div>