<div class="container-lg">
  <div class="col-lg-10 col-12 shadow p-3 bg-white rounded mx-auto">
    <%= render "show", vision: @vision %>
    <%= render "public/tasks/index", tasks_still: @tasks_still, tasks_complete: @tasks_complete %>
  </div>
</div>