<div class="container-fluid">
  <div class="col-xl-4 col-sm-8 shadow p-5 mb-3 rounded mx-auto bg-light text-center">
    <%= render 'form', vision: @vision, task: @task, obj: @task.completion_on %>
  </div>
</div>
