<div class="container-fluid">
  <div class="col-3 shadow p-3 mb-3 bg-white rounded mx-auto bg-light text-center">
    <%= render 'form', vision: @vision, task: @task, obj: @task.completion_on %>
    <%= link_to 'Destroy',  vision_task_path(vision_id: @vision.id, id: @task.id), method: :delete, data: { confirm: '本当にこのタスクを消しますか？' }, class: "btn btn-sm btn-danger" %>
  </div>
</div>
