<!--<div class="sidebar">-->
<!--  <div class="logo-content">-->
<!--    <div class="logo">-->
<!--      <i class="fab fa-angrycreative"></i>-->
<!--      <div class="logo_name">WayMe</div>-->
<!--    </div>-->
<!--    <i class="fas fa-bars" id="btn"></i>-->
<!--  </div>-->
<!--  <ul class="nav_list">-->
<!--    <li>-->
      <%# link_to user_path(current_user) do %>
        <%#= image_tag current_user.get_profile_image %>
        <span class="links_name"><%#= current_user.name %></span>
      <%# end %>
<!--      <span class="tooltip">dashbord</span>-->
<!--    </li>-->
<!--    <li>-->
      <%#= link_to current_user.followings.count, user_followings_path(current_user) %>
<!--      <span class="tooltip">dashbord</span>-->
<!--    </li>-->
<!--    <li>-->
      <%#= link_to current_user.followers.count, user_followers_path(current_user) %>
<!--      <span class="tooltip">dashbord</span>-->
<!--    </li>-->
<!--    <li>-->
      <%#= link_to edit_user_path(current_user) do %>
<!--       <i class="fas fa-user-cog"></i>-->
      <%# end %>
<!--      <span class="tooltip">dashbord</span>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div class="profile_content">-->
<!--    <i class="fas fa-sign-in-alt"></i>-->
<!--  </div>-->
<!--</div>-->

<!--// <script>-->
<!--//       let btn = document.querySelector("#btn");-->
<!--//       let sidebar = document.querySelector(".sidebar");-->
      
<!--//       btn.onclick = function() {-->
<!--//         sidebar.classList.toggle("active");-->
<!--//       }-->
<!--// </script>-->