<!--<ul class="navbar-nav ml-auto">-->
<!--  <%# if user_signed_in? %>-->
<!--    <li>-->
<!--      <%#= link_to visions_path,class: 'nav-link' do %>-->
<!--      <i class="fas fa-map-signs"></i>-->
<!--    </li>-->
<!--    <li>-->
<!--      <%#= link_to user_path,class: 'nav-link' do %>-->
<!--      <i class="fas fa-user"></i>-->
<!--    </li>-->
<!--    <li>-->
<!--      <%#= link_to edit_user_path,class: 'nav-link' do %>-->
<!--      <i class="fas fa-cogs"></i>-->
<!--    </li>-->
<!--    <li>-->
<!--      <%#= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>-->
<!--      <i class="fas fa-sign-out-alt"></i>-->
<!--    </li>-->
<!--  <% end %>-->
<!--</ul>-->